.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    overflow: scroll;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.99);
    z-index: 100;
    transform: scale(1.2);
    transition: all .3s ease-out;

    @include atMedium {
      height: auto;
      overflow: hidden;
    }
  
  &--is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__portfolio {
    margin-top: 5%;
  }

  &__portfolio-description {
    margin-bottom: 30px;
    font-size: .8125rem;
    color: #555;
    line-height: 1.7em;
    text-align: justify;

  }

  &__portfolio-item {
    @include clearfix;
  }
 
  .section-title {
    margin-bottom: 35px;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 2rem;
    transform: scaleX(1.3);
    transform-origin: 100% 0;
    color: $mainColor1;
    cursor: pointer;

    @include atMedium {
      top: 20px;
      right: 30px;
    }

    &:hover {
      color: $mainColor2;
    }
  }

  &__list {
    padding: 0;
  }

  &__list-item {
    list-style-type: none;
    display: block;
    border: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    position: relative;

    @include atMedium {
      padding: 25px;
      display: inline-block;
    }
  }

  @include atMedium {
    &__list-item a {
      border-radius: 100%;
      box-shadow: none;
      
      &::before,
      &::after {
      box-sizing: inherit;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 100%;
    }
  
      &:hover {
        color: $mainColor2;
        border-radius: 100%;
      }
  
      &::before {
        border: 5px solid transparent;
      }
  
      &:hover::before {
        border-top-color: $mainColor2;
        border-right-color: $mainColor2;
        border-bottom-color: $mainColor2;
    
        transition:
          border-top-color 0.15s linear,
          border-right-color 0.15s linear 0.10s,
          border-bottom-color 0.15s linear 0.20s;
      }
  
      &::after {
        border: 0 solid transparent;
      }
    
      &:hover::after {
        border-top: 6px solid $mainColor2;
        border-left-width: 4px;
        border-right-width: 4px;
        transform: rotate(270deg);
        transition:
          transform 0.4s linear 0s,
          border-left-width 0s linear 0.35s;
      }
    }  
  }

  &#kontakt {
    text-align: center;
  }

}