.site-header {
  @include clearfix;

  &__logo {
    font-size: 2rem;
    padding: 15px 0;
    float: none;
    text-align: center;
    margin-top: -90px;

    @include atSmall {
      margin-top: -100px;
    }

    @include atMedium {
      margin-top: 0px;
    }

    a {
      background: linear-gradient(330deg, #2d70ea 0%, #3fb7b7 45%, #333 80%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      text-decoration: none;
      color: #000;
      outline: none;
    }

    @include atMedium {
      float: left;
      height: 76px;
    }
  }
}